<div *ngIf="showJJT">
  <iframe
    width="560"
    height="315"
    src="https://www.youtube.com/embed/j6jL95BaSeM?si=UX3hiHSuSlRV4GQf&amp;start=75"
    title="YouTube video player"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
</div>

<form>
  <input type="file" class="upload" (change)="changeListener($event)" />

  <button (click)="submit()">Print PDF</button>

  <br />
  <hr />

  <div id="printMeOut">
    <img
      *ngIf="showJJT"
      height="387"
      width="580"
      src="/assets/Justin James Trudeauan.jpg"
    />

    <table class="table">
      <tr>
        <th>Index</th>
        <th>GL Code</th>
        <th>GL Name</th>
        <th>Period To Date Amount</th>
        <th>Period To Date Percentage</th>
        <th>Year To Date Amount</th>
        <th>Year To Date Percentage</th>
        <th>Adjusting Journal Entry</th>
        <th>Rounded To Zero</th>
        <th>One Dollar Rounding</th>
        <th>Final Amount</th>
      </tr>
      <tr
        [ngClass]="
          sumGlCodeList.includes(incomeStatementRow.glCode) ? 'blue' : 'asd'
        "
        *ngFor="let incomeStatementRow of incomeStatementRowList; let i = index"
      >
        <td>{{ i }}</td>
        <!-- <td>{{ e ? "Even" : "Odd" }}</td> -->
        <td>{{ incomeStatementRow.glCode }}</td>
        <td>
          {{ incomeStatementRow.glName }}
        </td>
        <td>
          {{ incomeStatementRow.periodToDateAmount | currency }}
        </td>
        <td>
          {{ incomeStatementRow.periodToDatePercentage | percent : "1.2-2" }}
        </td>
        <td>{{ incomeStatementRow.yearToDateAmount | currency }}</td>
        <td>
          {{ incomeStatementRow.yearToDatePercentage | percent : "1.2-2" }}
        </td>

        <input
          [(ngModel)]="incomeStatementRowList[i].adjustingJournalEntry"
          (keyup)="doAdjustingJournalEntry(i)"
          *ngIf="!sumGlCodeList.includes(incomeStatementRow.glCode)"
          type="number"
          name="adjustingJournalEntry"
          class="form-control"
          min="-1000000"
          max="1000000"
        />
        <!-- DO TWO WAY BINDING HERE -->
        <td *ngIf="sumGlCodeList.includes(incomeStatementRow.glCode)">
          <!-- {{ incomeStatementRow.adjustingJournalEntry | currency }} -->
        </td>

        <td>{{ incomeStatementRow.roundedToZero | currency }}</td>

        <input
          [(ngModel)]="incomeStatementRowList[i].oneDollarRounding"
          (keyup)="calculateFinalAmount(i)"
          *ngIf="!sumGlCodeList.includes(incomeStatementRow.glCode)"
          type="number"
          name="oneDollarRounding"
          min="-1"
          max="1"
        />
        <td *ngIf="sumGlCodeList.includes(incomeStatementRow.glCode)">
          <!-- {{ incomeStatementRow.oneDollarRounding | currency }} -->
        </td>
        <td>{{ incomeStatementRow.finalAmount | currency }}</td>
      </tr>
    </table>
  </div>
</form>
<!-- 
<div *ngIf="val == 1">
  <p>FART TRUE</p>
</div>
<div *ngIf="val == 2">
  <input type="text" />
</div> -->
