/* You can add global styles to this file, and also import other style files */
.blue{
    background-color: lightcoral;
    color: black;
    font-weight: bold;
}

.red{
    background-color: tomato;
    color: white;
}